html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        margin: 0;

        .backgroundimg {
            position: absolute;
            z-index: -100;
            width: 100%;
            height: auto;
        }

        .element {
            position:absolute;
            top:0;
            left:0;
            width: 100%;
            height:auto;
            background-size:cover;
            background-repeat: no-repeat;
        }
        
        .hidden {
            display:none;
        }
        
        .two-second {
            -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
            animation-duration: 1s;
        }
        
        .three-second {
            -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
            animation-duration: 2s;
        }
        
        #matcostpre {
            position:absolute;
        }
        
        #warehousingpre {
            position:absolute;
        }
        
        #transportationcu {
            position:absolute;
        }
        
        #labourcu {
            position:absolute;
        }
        
        #timecu {
            position:absolute;
        }
        
        #transportationpost {
            position:absolute;
        }
        
        #disposalpost {
            position:absolute;
        }
        
        .resize {
            position:absolute;
            bottom: -1000%;
        }
        
        .title {
            left: 40.5%;
        }
        
        #maintitle {
            top:26%;
            left: 39.5%;
        }
        
    }
}