html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html body .backgroundimg {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: auto;
}
html body .element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
html body .hidden {
  display: none;
}
html body .two-second {
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-duration: 1s;
}
html body .three-second {
  -webkit-animation-duration: 2s;
  /* Chrome, Safari, Opera */
  animation-duration: 2s;
}
html body #matcostpre {
  position: absolute;
}
html body #warehousingpre {
  position: absolute;
}
html body #transportationcu {
  position: absolute;
}
html body #labourcu {
  position: absolute;
}
html body #timecu {
  position: absolute;
}
html body #transportationpost {
  position: absolute;
}
html body #disposalpost {
  position: absolute;
}
html body .resize {
  position: absolute;
  bottom: -1000%;
}
html body .resize1 {
  position: absolute;
  bottom: -1000%;
}
html body .title {
  left: 5% !important;
}
html body #maintitle {
  top: 10%;
}
html body #pre-spilltitle {
  top: 75% !important;
}
html body #matcostpre1 {
  top: 118%;
  left:9%;
}
html body #matcostpre2 {
  top: 118%; 
  left: 65%;
}
html body #warehousingpre1 {
  top: 155%; 
  left: 0%;
}
html body #warehousingpre2 {
  top: 167%; 
  left: 65%;
}
html body #clean-uptitle {
  top: 190%;
}
html body #transportationcu1 {
  top: 220%; 
  left: 0%;
}
html body #transportationcu2 {
  top: 220%; 
  left: 65%;
}
html body #labourcu1 {
  top: 265%; 
  left: 0%;
}
html body #labourcu2 {
  top: 274%; 
  left: 63%;
}
html body #timecu1 {
  top: 307%; 
  left: 4%;
}
html body #timecu2 {
  top: 307%; 
  left: 65%;
}
html body #post-spilltitle {
  top: 338%;
}
html body #total-costtitle {
  top: 450%;
}
