html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        margin: 0;

        .backgroundimg {
            position: absolute;
            z-index: -100;
            width: 100%;
            height: auto;
        }

        .element {
            position:absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background-size:cover;
            background-repeat: no-repeat;
        }
        
        .hidden {
            display:none;
        }
        
        .two-second {
            -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
            animation-duration: 2s;
        }

        #moneybag1{
            background-image: url("../img/pre-spill/moneybag1.svg");
        }

        #moneybag2{
            background-image: url("../img/pre-spill/moneybag2.svg");
        }

        #moneybag3{
            background-image: url("../img/pre-spill/moneybag3.svg");
        }

        #moneybag4{
            background-image: url("../img/pre-spill/moneybag4.svg");
        }

        #moneybag5{
            background-image: url("../img/pre-spill/moneybag5.svg");
        }

        #moneybag6{
            background-image: url("../img/pre-spill/moneybag6.svg");
        }

        #matcosttitle{
            background-image: url("../img/pre-spill/materialcoststitle.svg");
        }
    }
}
